body {
    background: #000;
    color: #FFF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

html {
    padding: 0px;
}

.top-menu {
    position: absolute;
    top: 5px;
    right: 10px;
    /*background: #2B013E;*/
    color: white;
    height: 30px;
    padding: 6px;
    align-items: right;
    float: right;
}

.top-menu>a {
    text-decoration: none;
    color: #fff;
    align-self: right;
    margin-right: 12px;
}

.title {
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 100%;
    margin-top:60px;
}

.title>img {
    width: 40%;
    max-width: 400px;
    min-width: 220px;
}

.title>p {
    font-size: 12pt;
}

.download-container {
    margin: auto;
    display: grid;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    grid-template-columns: 50% 50%;
    font-size: 10pt;
    margin-bottom: 15px;
}

.download-label {
    font-size: 10pt;
    margin-bottom: 12px;
}

.before-video {
    background: #013A56;
}

.after-video {
   /* background-color: #2B013E;
    /* Rectangle 5: */
background-image: linear-gradient(-180deg, #2B013E 0%, #000000 100%);
    height: 100%;
}

.video-home-bg {
    background-image: linear-gradient(-180deg, #013A56 0%, #2B013E 80%);
    z-index: 0;
}

.video-home {
    width: 100%;
    margin: 0px;
    padding:0px;
    margin-top:4px;

    z-index: 1;
    background-image: linear-gradient(-180deg, #013A56 0%, #2B013E 100%);
}

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: scale(1.0);
    filter: blur(1px);
    filter: brightness(20%);
}

.about-1 {
    margin: auto;
    width: 50%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14pt;
    margin-bottom: 35px;
    margin-top: 15px;
}

.big {
    font-size: 30pt;
}

.download{
    background: rgba(255, 255, 255, 0.0);
    border: solid 1px rgba(255, 255, 255, 0.1);
    padding-top:5px;
    padding-bottom:0px;
    padding-left:50px;
    padding-right:50px;
    color: #f0f0f0;
    margin: auto;
    width: Calc( 50% - 10px);
    text-decoration: none;
    line-height: 0px;
    display:inline;
    border-radius: 2px;
}

.download>a{
    color: #fff;
    font-size: 6pt;
    padding:0px;
}

.download>p{
    color: #f0f0f0;
    padding:0px;
}

.download:hover {
    cursor: pointer;
    color: #FFF;
    text-shadow: 0px 0px 10px #FFF;
    background: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.get-started {
    padding: 15px;
}

.get-started>a {
    background: rgba(255, 255, 255, 0.1);
    border: solid 1px #FFF;
    width: 50%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 1px;
    color: #fff;
    text-decoration: none;
}

.see-github {
    padding: 8px;
}

.see-github>a {
    width: 50%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 10pt;
}

h1 {
    margin-top: 18vh;
    width: 100%;
    font-size: 48pt;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
}

h1 span {
    letter-spacing: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

h1 span a {
    color: #fff;
}

#infographic0{
    width:80%;
    max-width: 580px;
}

@media only screen and (max-width: 600px) {
    #infographic0{
        width:100%;
    }

#info0 >p {
    padding:0px;
}
}

#info0{
    display: block;
    line-height: 1.5em;
    padding:0px;
    text-align: center;
    width: 100vw;
}

#info0 >p {
    text-align: justify;
    width: auto;
    padding-right: 200px;
    padding-left: 200px;
    line-height: 20pt;
}

a{
    color:#FFF;
}

#info1 >p {
    text-align: justify;
    width: auto;
    padding-right: 200px;
    padding-left: 200px;
    line-height: 20pt;
}