button{
    background:rgb(87, 174, 255);
    padding:10px;
    color:#FFF;
    width: auto;
    margin:none;
    border:none;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s;
    vertical-align: middle;
    font-size: 14pt;
    padding-left:30px;
    padding-right:30px;
    overflow: hidden;
    display: inline;
}

button:hover{
    background:rgb(18, 141, 255);
    transform: scale(1.1);
    padding-left:30px;
    padding-right:30px;

}

button:focus {outline:0;}

button img{
    width:18px;
    margin-right: 8px;
}

.content{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
    margin-top:20px;
}


h1{
    font-size: 18pt;
}

.logo{
    width: 80%;
    margin-bottom: 10px;
}

/*menu*/
.menu{
    position: absolute;
    z-index: 2;
    top:0;
    right:0;
    opacity: 1;
}

.menu-hidden{
    visibility: collapse;
    opacity: 0;
}

.menu > .content{
    height: 100vh;
    margin:0px;
    right:0px;
    width: 350px;
    display: flex;
    justify-content: center;
    padding:0px;
    padding-left:2px;
    padding-right:2px;
}

.menu > .tabs{
    width: 300px;
    display: flex;
    justify-content: center;
}

.menu-caret-open{
    position: absolute;
    top:50vh;
    right:350px;
    height: 30px;
    color:#fff;
    transition: 0.5s;
}

.menu-caret-closed{
    position: absolute;
    top:50vh;
    right:0px;
    height: 30px;
    color:#FFF;
    transform: rotate(180deg);
    transition: 0.5s;
}

.small-input{
    width:20px !important;
}

.menu-position{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 300px;
}

.menu-position-cell{
    width: 100px;
    margin-top:5px;
    padding-left:10px;
    padding-right:10px;
}

.menu-object{
    text-align: left;
}

.controls-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2px;
    top:30px;
    left:10px;
}.card {
  background: #F9F9FB;
}
.panel {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 6px;
  min-width: 100px;
  min-height: 20px;
  border-radius: 1px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.panel > * {
  margin-top: 5px;
  margin-bottom: 5px;
}
.slider-2d-container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  min-width: 100px;
  border-radius: 2px;
}
.slider-2d-canvas {
  background: #F7F9FD;
  width: 100%;
  height: 100px;
}
.slider-2d-values {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #F7F9FD;
  font-size: 10pt;
}
.slider-2d-values > div {
  display: grid;
  grid-template-columns: minmax(10px, 10%) 1fr;
  border: solid 1px #DDEBF7;
  height: 0 auto;
}
.slider-2d-values > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #425A70;
  padding: 1px 2px;
}
.slider-2d-values .label {
  color: #66788A;
  font-size: 8pt;
}
.line-editor-canvas {
  background: #F7F9FD;
  width: 100%;
  height: 30px;
}
.circular-slider {
  height: auto;
}
.circular-slider-canvas {
  height: auto;
  width: auto;
  min-height: 50px;
}
/*-- Collapsable --*/
.collapsible {
  color: #111;
  width: 100%;
}
.collapsible .top {
  display: grid;
  width: 100%;
  grid-template-columns: 90% 10%;
  align-items: center;
  color: #425A70;
}
.collapsible .top:hover {
  opacity: 1;
}
.collapsible:hover .arrow {
  opacity: 1;
}
.collapsible .label {
  cursor: pointer;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px;
  align-items: center;
}
.collapsible .arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 22px;
  opacity: 0.5;
  transition: 0.5s;
}
.collapsible .arrow > svg {
  transition: 0.25s;
}
.collapsible .arrow-up > svg {
  transform: rotate(180deg);
}
.collapsible > .content {
  background: #fff;
  transition: 0.1s;
  width: 100%;
  display: block;
  flex-direction: column;
  overflow: scroll;
  justify-content: center;
  border: solid #fff 1px;
  padding: 0px;
  margin: 0px;
}
.collapsible > .content-open {
  height: auto;
  opacity: 1;
  border-bottom: 2px solid #DDEBF7;
}
.collapsible > .content-closed {
  height: 0px;
  overflow: hidden;
  opacity: 1;
  border-bottom: 2px solid #DDEBF7;
}
/*
@background: #fff;
@color0: #fff; //bg
@color1: #eee;
@color2: #888;
@color3: #222;
@colorHigh: #00baff;
@colorText: #111;

@text-default: #425A70;
@text-selected: #1070CA;
@text-sucess: #00783E;
@text-muted: #66788A;

@neutral-lightest: #F9F9FB;
@neutral-light: #E4E7EB;
@neutral-base: #425A70;
@neutral-dark: #234361;

@blue-lightest: #F7F9FD;
@blue-light: #DDEBF7;
@blue-base: #1070CA;
@blue-dark: #084B8A;

@red-lightest: #FEF6F6;
@red-light: #FAE2E2;
@red-base: #EC4C47;
@red-dark: #BF0E08;
*/
.side-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: auto;
  top: 50vh;
  transform: translate(2px, -50%);
}
.side-menu > .btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F9FB;
  border-radius: 1px;
  padding: 2px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  color: #425A70;
  border: solid 1px #E4E7EB;
}
.side-menu > .btn:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background: #E4E7EB;
  cursor: pointer;
}
body{
    padding:0px;
    background:#fff !important;
    font-family: 'Segoe UI', Tahoma;
    font-weight: 100;
    overflow: scroll;
    padding-top:20px;
}

/*---Title bar---*/
.title-bar{
  position: absolute;
  top:0px;
  background:#334;
  left:0px;
  width:100vw;
  height: 20px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 10;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 8pt;
  font-weight: 100;
}

.title-bar > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  align-items: center;
  color:#aaa;
}

.title-bar > .group-right{
  justify-content: flex-end;
  padding-right: 8px;
}

.title-bar > .buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left:8px;
}

.title-bar > .buttons > div{
  height: 10px;
  width:10px;
  border-radius: 50px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bar > .buttons > div > svg{
  opacity: 0;
  transition: 0.5s;
}

.title-bar > .buttons:hover > div > svg{
  opacity: 0.6;
}

.title-bar-close{
  background: #EE5F56;
  border: solid 1px #E03E35;
}

.title-bar-min{
  background:#F8BD45;
  border: solid 1px #F8BD45;
}

.title-bar-max{
  background:#5FCC43;
  border: solid 1px #52AD30;
}

canvas {
    width: 100%;
    height: 100px;
  }
  
  .annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 200px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
  }
  .annotation::before {
    content: '1';
    position: absolute;
    top: -30px;
    left: -30px;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .env {
    position: absolute;
    z-index: 0;
    margin:0px;
    top:20px;
    left:0px;
  }

  .viewer-helper{
    z-index: 1;
    position: absolute;
    margin:0px;
    top:20px;
    right:0px;

    width:100px;
    height:100px;

    background:transparent;
    opacity: 0.8;
  }

  .viewer-helper:hover{
    opacity: 1;
  }

  /*3d Env Menu Object*/
  .env-menu{
    z-index: 2;
    background:#fff;
    color:#000;
    position: absolute;
    top:50%;
  }