.minimalist-toolbar {
  overflow-y: visible;
  position: absolute;
  top: 0px;
  z-index: 1;
  left: 0px;
  max-height: 30px;
  min-height: 30px;
  /*background:var(--main-color);*/
  /* Rectangle 3: */
  background: #212121;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding-left: 50px;
  vertical-align: center;
}

.right-menu {
  overflow: hidden;
  position: absolute;
  left: auto;
  right: -400px;
  top: 50px;
  width: 400px;
  height: calc(100% - 70px);
  z-index: 2;
  background: #212121;
  transition: 0.5s;

  -webkit-box-shadow: -5px 0px 14px -4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -5px 0px 14px -4px rgba(0, 0, 0, 0.33);
  box-shadow: -5px 0px 14px -4px rgba(0, 0, 0, 0.33);
  padding: 5px;
  color: #fff;
}

.right-menu-tabs {
  position: relative;
  width: "100%";
}
.right-menu-button {
  position: absolute;
  right: 0px;
  top: calc(50% - 20px);
  width: 20px;
  padding: 3px;
  height: 40px;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transition-delay: 0.3s;
  transition: 0.1s;
  background: #212121;
  -webkit-box-shadow: -2px 0px 5px 4px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -2px 0px 5px 4px rgba(0, 0, 0, 0.11);
  box-shadow: -2px 0px 5px 4px rgba(0, 0, 0, 0.11);
}

.right-menu-button > .icon {
  height: 100%;
  opacity: 0.25;
}

.right-menu-button:hover .icon {
  opacity: 0.5;
  transition: 0.3s;
}

.right-menu-button > .icon-under {
  height: 100%;
  opacity: 0.2;
}

.right-menu-button > .icon-open {
  transform: scaleX(-1);
}

.reload {
  width: 30px;
  height: 30px;
}
.reload > img {
  width: 30px;
}

.panel-label {
  font-size: 10pt;
  color: #999;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-left: 0px;
  font-weight: 100;
  margin-top: 10px;
}
.panel-item {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.panel-item p {
  font-size: 11pt;
  font-weight: 100;
  color: #888;
}
.panel-item h3 {
  color: #fff;
  font-size: 12pt;
  margin-bottom: 0px;
  padding: 0px;
}
.panel-item .file-name {
  color: #4fa;
  font-size: 12pt;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: -10px;
}
.panel-item .file-path {
  color: #666;
  font-size: 7pt;
}

.flat {
  border-radius: 0px;
}

.flat div {
  border-radius: 0px;
}

.serial-console {
  overflow: scroll;
  max-height: calc(100vh - 300px);
  min-height: 300px;
  background: #212121;
  width: 100%;
  color: #f0f0f0;
  font-size: 10px;
  font-family: monospace;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.record-menu {
  padding: 10px;
  min-width: 400px;
  /*overflow: hidden;*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  transition: 0.5s;
  background: #212121;

  -webkit-box-shadow: -5px 0px 14px -4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -5px 0px 14px -4px rgba(0, 0, 0, 0.33);
  box-shadow: -5px 0px 14px -4px rgba(0, 0, 0, 0.33);
  padding: 5px;
  color: #fff;
}

.close-record-menu {
  position: absolute;
  cursor: pointer;
  left: 6px;
  top: 3px;
}

.record-menu .react-tabs__tab-list {
  /* border-bottom: 1px solid #aaa;*/
  margin: 0 0 0px;
  margin-left: 15px;
  padding: 0px;
}

.record-menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-content: center;
  text-align: center;
  width: 400px;
}

.record-menu-grid .item {
  /*
  grid-column: 1 / 3;
  grid-row: 1;
  */
  align-content: center;
  text-align: center;
  min-height: 20px;

  height: 6vw;
  max-height: 50px;
}

.record-menu-grid .item > img {
  max-width: 50px;
  min-width: 20px;
  width: 6vw;
  max-height: 50px;
}

.record-menu-grid .item .label {
  color: #999;
  font-size: 10pt;
}

.record-menu-grid .item .value {
  color: #fff;
  font-size: 14pt;
}
.record-menu-grid .record:hover {
  opacity: 1;
  cursor: pointer;
}

.record-menu-grid .record {
  opacity: 0.8;
}

.record-menu-grid .item .play{
  width:30px;
  opacity: 0.8;
}

.record-menu-grid .item .play:hover{
  width:30px;
  opacity: 1.0;
  cursor:pointer;
}
.record-menu-grid .record-outline {
  position: absolute;
  left: 0px;
  top: 0px;
}

.record-menu-grid .item .timeline {
  width: 300px;
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
