button{
    background:rgb(87, 174, 255);
    padding:10px;
    color:#FFF;
    width: 0 auto;
    margin:none;
    border:none;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s;
    vertical-align: middle;
    font-size: 14pt;
    padding-left:30px;
    padding-right:30px;
    overflow: hidden;
    display: inline;
}

button:hover{
    background:rgb(18, 141, 255);
    transform: scale(1.1);
    padding-left:30px;
    padding-right:30px;

}

button:focus {outline:0;}

button img{
    width:18px;
    margin-right: 8px;
}

.content{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
    margin-top:20px;
}

h1{
    font-size: 18pt;
}

.logo{
    width: 80%;
    margin-bottom: 10px;
}

body{
    padding:10px;
    background:#fff !important;
    font-family: 'Segoe UI', Tahoma;
    font-weight: 100;
}

